<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.demo.jetpack">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DemoApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hilt.HiltActivity"
            android:exported="true" />
        <activity
            android:name=".lifecycle.LifecycleActivity"
            android:exported="true" />

        <activity
            android:name=".paging.PagingActivity"
            android:exported="true" />

        <activity
            android:name=".mavericks.Mavericks01Activity"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity01"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity02"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity03"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity04"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity05"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity06"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity07"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity08"
            android:exported="true" />
        <activity
            android:name=".motionlayout.MotionLayoutActivity09"
            android:exported="true" />
        <activity
            android:name=".viewpager.ViewPager2Activity"
            android:exported="true" />
        <activity
            android:name=".navigation.basic.NavigationActivity"
            android:exported="true" />
        <activity
            android:name=".navigation.basic.NewActivity"
            android:exported="true" />
        <activity
            android:name=".navigation.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".scroll.ScrollActivity"
            android:exported="true" />
    </application>

</manifest>